# This workflow will build a package using Gradle and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#Publishing-using-gradle

name: Gradle Package

on:
  push:
    branches:
    - main
    - release/*

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 16
      uses: actions/setup-java@v2
      with:
        java-version: '16'
        distribution: 'adopt'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Build with Gradle
      run: gradle build
      
    - name: Shadow with Gradle
      run: gradle shadowJar

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.2.4
      with:
    # Artifact name
        name: artifact # optional, default is artifact
    # A file, directory or wildcard pattern that describes what to upload
        path: build/notquests-1.4.8.jar

        if-no-files-found: warn

        retention-days: 90 # optional
